{{#if session.isAuthenticated}}
  <div class='auth-buttons'>
    <div id="currentUser-info">
      <img class='top-profile-pic' src="{{session.currentUser.photoURL}}">
      <div class='logged-in-info'>
        <div class='logged-in-text'>{{session.currentUser.displayName}}</div>
        {{#if session.currentUser.timezone}}
        <div class='timezone-text'>{{session.currentUser.timezone}}</div>
        {{/if}}
      </div>
    </div>
    <button class{{action "signOut"}}>Sign out</button>
  </div>
{{/if}}
{{outlet}}
