<div class='content'>
  <div class='timezone-search'> What timezone are you in?
    {{#power-select
      options=timezones
      selected=timezone
      onchange=(action "chooseTimezone")
      searchField="timezone"
      searchPlaceholder="Search timezones..." as |timezone|}}
      {{timezone.timezone}}
    {{/power-select}}
  </div>
  {{yield}}
  {{#each-in model as |timezone data|}}
    <div class='timezone'>
      <div class="timezone-header">
        <div class="timezone-name">{{timezone}}</div>
        <div class="time">{{iso-date offset=data.offset}}</div>
      </div>
      {{#each data.userData as |member|}}
        <div class='team-member'>
          <div class="image-container">
            <img class='profile-pic' src="{{member.photoUrl}}">
          </div>
          <strong>{{member.name}}</strong>
        </div>
      {{/each}}
    </div>
  {{/each-in}}
</div>
{{outlet}}
