<div>
  {{#power-select
    options=timezones
    selected=timezone
    onchange=(action "chooseTimezone")
    searchField="timezone"
    searchPlaceholder="What timezone are you in?" as |timezone|}}
    {{timezone.timezone}}
  {{/power-select}}
  {{yield}}
  {{#each-in model as |timezone data|}}
    <div>{{timezone}}{{data.offset}}{{iso-date offset=data.offset}}
      {{#each data.userData as |member|}}
        <div>
          <img src="{{member.photoUrl}}">
          <strong>{{member.name}}</strong>
        </div>
      {{/each}}
    </div>
  {{/each-in}}
</div>
{{outlet}}
